@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Inter:wght@400;500;700&family=Libre+Bodoni:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #393738;
    font-family: 'Inter', sans-serif;
}

.project-container{
    background-color: #f8f3f2;
    max-width: 130rem;
    min-height: 61.3rem;
    margin: 5rem auto;
    margin-top: 8rem;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 3.2rem;
    padding: 3.2rem;
    position: relative;
}

.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #333;
}
.my-name{
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: #666;
    font-weight: 500;
}

 

.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav{
  font-size: 4.5rem;
  color: #666;
}

.icon-mobile-nav[name="close-outline"]{
    display: none;
    color: #333;
    cursor: pointer;
}

.projects-title-container{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3.8rem;
}

h1{
    font-size: 4.8rem;
    letter-spacing: 0.5rem;
    color: #333;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.6rem;
    row-gap: 2.4rem;
    padding: 4.8rem;  
}

.project{
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0, 0.075);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.project img{
    display: block;
    width: 27.4rem;
    height: 27.4rem;
    transition: all 0.4s;
}

.project img:hover{
    transform: scale(1.1); 
}

.down-icon{  
    position: absolute;
    margin-left: 45.5%;
    margin-top: 4rem;
}

.icon{
    color: #333;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: all 1s;
}

.icon:hover{
    transform: translateY(-1.2rem);
}


